<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<link rel="stylesheet" href="/static/css/estilo.css">
	<title>Área Mística</title>
</head>
<body>
	<nav class="navbar bg-secondary navbar-dark">
		<!--LOGO-->
		<div class="container">
			<img src="/static/img/logo_site.png" class="img-fluid" alt="">

			<!--Button Dropdown-->
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<!--Dropdown-->
			<div class="collapse navbar-collapse" id="collapsibleNavbar">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a href="{% url 'index' %}" class="nav-link text-right">
							Início
						</a>
					</li>
					<li class="nav-item">
						<a href="{% url 'registrar_medium' %}" class="nav-link text-right">
							Registrar Médium
						</a>
					</li>
					<li class="nav-item">
						<a href="{% url 'cartomantes' %}" class="nav-link text-right">
							Médiuns Registrados
						</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<main>
		<section class="jumbotron">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 col-md-6 col-sm-6">
						<h3 class="text-center">Bem-Vinda à Área Mística!</h3>
						<p class="text-center">
							Saiba seu futuro conosco, marque um horário com um de nossos Médiuns!
						</p>
						<p class="text-center">Resultados para os quatro planos: 
						</p>
						<p>
							<center>
								<ul class="no-bullets">
									<li>Material</li>
									<li>Mental</li>
									<li>Sentimental</li>
									<li>Espiritual</li>
								</ul>
							</center>
						</p>
						<p class="text-center"><i>Trabalhe Conosco! Faça parte de nossa Equipe!</i></p>
						<center>
							<a href="{% url 'registrar_medium' %}">
							<button class="btn btn-primary">
								Registrar-se como Médium
							</button>
							</a>
						</center>
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6">
						<figure>
							<img src="/static/img/78878.jpg" alt="" class="img-fluid">
						</figure>
					</div>
				</div>
			</div>
		</section>
	</main>
	<footer class="bg-secondary mt-4"><!--Autoexplicativo></!-->
		<div class="container d-flex justify-content-between">
			<span class="corada mt-4">
				&copy 
				<i>
					Todos os Direitos Reservados 2020
				</i>
			</span>
			<ul class="navbar icones">
				<li><a href="https://twitter.com/?lang=en" class="text-hide">Twitter</a></li>
				<li><a href="https://www.facebook.com/" class="text-hide">Facebook</a></li>
				<li><a href="https://www.youtube.com/" class="text-hide">Youtube</a></li>
			</ul>

		</div>
	</footer>

	<script src="https://code.jquery.com/jquery-3.5.1.js"
	integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
	crossorigin="anonymous"></script>
	<script type='text/javascript' src="/static/js/bootstrap.js"></script>
	<script src="/static/js/jquery.fitvids.js"></script>
	<script>
		$(document).ready(function(){
    // Target your .container, .wrapper, .post, etc.
$("main").fitVids();});</script>
</body>
</html>